body{
    background-color: rgb(233, 127, 233);
}
header
{
background-color:rgb(188, 23, 233);
border: 0%;
padding: 30px;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size:xx-large;
}
h2
{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size:xx-large;
}
table
{
   margin-left: auto;
   margin-right: auto;
    height:300px;
}
input
{
    border-radius: 10px;
    border:2px solid purple
}
label
{
    font-size: 21px;
}
select
{
    font-size: 21px;
    border-radius: 10px;
}
input:focus
{
background-color: rgb(70, 230, 179);
}
button
{
text-align: center;
}

#sum:hover
{
 color: rgb(126, 252, 0);
 border-color: rgb(126, 252, 0);
}
#can:hover
{
 color: rgb(252, 46, 0);
 border-color: rgb(252, 46, 0);
}
#sum
{
    background-color: greenyellow;
}
#can
{
    background-color:rgb(234, 90, 38);
}
.cen
{
    text-align: center;
}